.loading_data {
  background-color: rgba(100, 100, 100, .30);
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100vh;    
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
}

.modal-body .loading_data {
  text-align: center;
  height: auto;
  background-color: transparent;
  position: initial;
}

.footer {
  font-size: 0.8rem;
}

.footer p {
  margin-bottom: 0;
}

.app_div {
  margin-bottom: 4rem;  
}

.debug_div {
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  padding-bottom: 4rem;
  background-color: var(--bs-gray-100);
  display: none;
}

.app_container {
  padding-left: 0;
  padding-right: 0;
}

.debug_div{ 
 background-color: black;
 color: white;
}

.debug_div .accordion-header {
  color: rgb(233, 216, 68);
}

.trace-item button.accordion-button {
  font-size: 14px;
}

.trace-item .bi, .icon-drive.bi {
  margin-right: 5px;
}

.accordion-item.trace-item {
  margin-bottom: 2px;
}

li:has(.nav-link.active) {
  background-color: #9ec5fe;
}

.navbar-image-logo {
  margin-right: 10px;
}

.screen_div {
  margin-top: 70px;
}

/*****/


#accordionEpromComparator {
  display: flex;
  flex-direction: row;
}

.eprom-container {
  padding-left: 5px;
}

.eprom-param-value {
  color: black;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}

.table-map-td {
  min-width: 30px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  border: 1px solid rgb(58, 58, 58);
  text-align: center;
}

.table-map-td-watch {
  border: 2px solid #FF5722;
}

.eprom-param-container {
  margin-top: 20px;
  border-top: 1px solid rgb(58, 58, 58);
}

.form-showdif, .form-showhexa {
  margin-top: 8px;
  margin-left: 10px;
}

.eprom_diff_data {
  color: #ca00ff;
  font-weight: bold;
  /*box-shadow: 10px 5px 5px red;*/
}

/*** login ***/

/* .app-login {
  position: fixed;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #e9ecef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-login .login-container {
  background-color: white;
  width: 400px;
  border: 1px #c6c7c8 solid;
  border-radius: 15px;
}

.modal-dialog .drive_info {
  margin-top: 5px;
  font-style: italic;
}

.alert.alert-sm {
  margin: 5px;
  padding: 5px 5px 5px 10px;
}

.option-checkbox > label {
  margin-left: 5px;
} */